secret.py
__pycache__/audio_manipulation.cpython-311.pyc
__pycache__/handle_youtube.cpython-311.pyc
__pycache__/miscellaneous.cpython-311.pyc
__pycache__/secret.cpython-311.pyc
__pycache__/transcription.cpython-311.pyc
